@import '../../../../assets/app.scss';

.bg-header{
    background-color: $bg-sencond;

    .header-menu{
        display: flex;
        justify-content: space-between;

        .search{
            margin: 32px 0 16px 60px;
            width: 264px;
            height: 42px;
            position: relative;

             input{
                width: 100%;
                height: 100%;
                font-size: 16px;
                outline: none;
                padding: 0 20px;
                border-radius: 10px;
                border: 1px solid $color-icon ;
                background-color: $bg-sencond;
            }
             i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                font-style:25px;
                color: $color-icon;
            }
        }
        .dropdown{
            position: relative;
            margin: 34px 41px 22px 0;
            display: flex;
            justify-content: space-around;

            .ring{
                margin-right: 14px;
            }

            .select-user{
                position: relative;
                cursor: pointer;

                span{
                    color:$text-white ;
                    padding: 0 10px;
                }
                i{
                    color: $color-main; 
                }
            }
        }
    }
}
:host ::ng-deep .p-dropdown {
    background-color: $bg-sencond;
    color: $text-white;

    .p-dropdown-items{
        background-color: $bg-sencond;
        .p-dropdown-item {
            color: $text-white;
        }
    }
  }

:host ::ng-deep .ng-valid{
    color: $text-white;
}
  