$primary-font: "Inter", sans-serif;
$secondary-font: "Lato", sans-serif;

$primary-color: #8146ff;
$primary-color-lighter: #ccb7fb;
$secondary-color: #0173f9;
$secondary-color-lighter: #579aff;
$third-color: #db48ff;
$fourth-color: #ff447c;
$bg-main:#1F2D47;
$bg-sencond:#293A58;
$bg-third:#3C4E6F;

$border-gray: #f0f1f6;
$border-gray-dark: #cdcfd4;
$color-main:#A6ACB8;
$color-border:#7988a3;
$color-field:#293a58;

$background-gray: #e5e5e5;

$text-white: #ffffff;
$text-dark: #081615;
$color-icon:#9AA0A8;

$text-gray: #61677f;

$text-gray-lighter: #acb2be;
$text-grayer: #9fa9bd;

$text-danger: #f25f64;
$text-warn: #f2ad62;
$text-success: #56c456;
$available: #12ba76;
$busy: #f33d3d;
$offline: #dbdbdb;

$box-shadow: 0px 50px 50px -50px rgba(82, 81, 81, 0.16);

$opacity80: 0.8;
