@import '../../../../assets/app.scss';
select {
    margin: 0 !important;
  }
  .row {
    .user-phone-number {
      background-color: $color-field;
      border-color: $color-border;
      color: $color-icon;
      width: 400px;
    }
    .p-input-icon-left {
      margin-left: 85px;
      margin-top: 30px;
      input {
        background-color: $color-field;
        border-color: $color-border;
        color: $color-icon;
        width: 400px;
      }
    }
  
    .form-select {
      background-color: $color-field;
      border-color: $color-border;
      color: $color-icon;
      width: 400px;
    }
  
    .image {
      margin-left: 85px;
      margin-top: 30px;
    }
  }
  