@import '../../../../assets/app.scss'; 
.add-doctor{
    display: flex;
    justify-content: space-between;
    margin: 10px 48px;

    span{
        color: $text-white;
        font-size: 18px;
    }
    .button-add{
        span{
            margin-top: 20px;
            
        }
    }
}
:host ::ng-deep .p-dropdown {
    width: 50%;
    margin-top: 20px;
  }
span.p-inputgroup-addon{
    margin-top: 0 !important;
}