<app-new-doctor></app-new-doctor>
<div class="row">
    <div class="col-lg-3 mb-3"
    *ngFor="let doctor of doctors">
        <div class="card-deck ">
            <div class="card">
                <div class="card-header">
                    <!-- <svg-icon key="img-doctor" width="58px" height="58px"></svg-icon> -->
                    <img class="img-doctor" src="{{doctor.avatar}}" alt="">
                    <div class="dots">
                        <button type="button" 
                                pButton pRipple 
                                icon="pi pi-ellipsis-h" 
                                (click)="menu.toggle($event)" 
                                class="p-button-rounded p-button-text"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="name">{{doctor.firstName + " ." + doctor.lastName}}</h4>
                    <p class="department">{{doctor.derpartment}}</p>
                    <p class="position">{{doctor.position}}</p>
                </div>
                <div class="card-footer">
                    <p class="phone">Phone: {{doctor.phone}}</p>
                    <p class="email">Email: {{doctor.mail}}</p>
                </div>
            </div>
        </div>

    </div>
    
</div>