<app-new-doctor (addDoctor)="onAddDoctor($event)"></app-new-doctor>
<div class="row">
    <div class="col-lg-3 mb-3" *ngFor="let doctor of doctors">
        <div class="card-deck ">
            <div class="card">
                <div class="card-header">
                    <img class="img-doctor" src="../../../assets/images/doctor01.png" alt="{{doctor.username}}">
                    <span ngClass="{{doctor.status}}"></span>
                    <div class="dots">
                        <app-edit-doc-tor [doctor]="doctor"></app-edit-doc-tor>
                        <svg-icon key="delete" size="xxl" (click)="deleteDoctor(doctor.id)"></svg-icon>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="name">{{doctor.username}}</h4>
                    <p class="position">{{doctor.position}}</p>
                    <h4 class="department">{{doctor.department}}</h4>
                </div>
                <div class="card-footer">
                    <p class="phone">Phone: {{doctor.phone }}</p>
                    <p class="email">Email: {{doctor.email}}</p>
                </div>
            </div>
        </div>

    </div>

</div>
<p-toast></p-toast>