@import '../../../assets/app.scss';
.fa-appointment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__right {
    display: flex;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-white;
  }
  &__status {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    .fa-custom-select {
      background-color: $bg-sencond;
      padding-left: 12px;
      color:  $text-white;
      height: 40px;
      background-image: url("../../../assets/icons/svg/vector.svg");
    }
  }
  &__cabinet {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    .fa-custom-select {
      background-color: $bg-sencond;
      color:  $text-white;
      padding-left: 12px;
      height: 40px;
      background-image: url("../../../assets/icons/svg/vector.svg");
    }
  }
  &__new {
    .fa-newBtn {
      background-color: $primary-color!important;
      transition: all ease 0.2s;
      font-family: $primary-font;
      font-weight: 300;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
