p{
    margin-bottom: 0;
  }
  .fa-list-patients {
    margin-top: 30px;
    padding: 30px;
    background-color: #293a58 ;
    border-radius: 14px;
    &__avatar {
      // display: inline-block;
      display: flex;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: rgb(255, 255, 255,0.2);
      border-radius: 7px;
      margin-right: 12px;
    }
    &__icons-container {
      display: flex;
    }
    &__action-icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 25px;
      border-radius: 9px;
      border: 1px solid#3c4e6e;
      margin-right: 10px;
    }
    &__appointment {
      padding: 10px 5px;
      color: #56c456;
      background-color: rgb(86, 196, 86, 0.1);
      border-radius: 6px;
    }
    &__canceled{
      padding: 10px 5px;
      color: rgb(242, 110, 110);
      background-color:rgb(242, 110, 110,0.1);
      border-radius: 6px;
      text-align: center;
    }
    &__items {
      display: flex;
      align-items: center;
     
    }
  
    td,
    th {
      text-align: left;
      vertical-align: middle;
  
      font-style: normal;
      line-height: 16px;
      font-weight: 500;
      font-size: 13px;
      color: #fff;
    }
    th:nth-child(6), th:last-child{
      text-align: center;
    };
    td:last-child{
      .fa-list-patients__appointment{
        text-align: center;
      }
    }
    .fa-head-table {
      th {
        border: none;
        &:first-child {
          border-radius: 6px 0 0 6px;
        }
      
        &:last-child {
          border-radius: 0 6px 6px 0;
        }
      }
    }
    .fa-body-table{
      td{
        &:first-child{
          padding-left: 10px;
        }
        &:nth-child(6){
          .fa-list-patients__icons-container{
            justify-content: center;
          }
        }
      }
    }
    td {
      background-color: #293a58;
      border: none;
    }
    th {
      background-color: #3c4e6e;
    }
  }
  