<div class="row mt-3">
    <div class="col-lg-3 mb-3" *ngFor="let item of dashboard; let i index">
        <div class="card-deck ">
            <div class="card">
                <div class="card-header">
                    <div class="dots">
                        <button type="button" pButton pRipple class="p-button-rounded p-button-text "
                            icon="pi pi-ellipsis-h" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <div class="card-body">
                    <div class="icon">
                        <svg-icon key="{{item.icon}}" size="{{item.size}}" width="{{item.w}}" height="{{item.h}}"></svg-icon>
                    </div>
                    <div class="content">
                        <p>{{item.indentity}}</p>
                        <p>{{item.lable}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-8">
        <app-chart></app-chart>
    </div>
    <div class="col-lg-4">
        <app-chart-bar></app-chart-bar>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-8">
        <app-appointment-patients-list></app-appointment-patients-list>
    </div>
    <div class="col-lg-4">
        <app-top-doctor-list></app-top-doctor-list>
    </div>
</div>
