@import '../../../assets/app.scss';


.card{
    background-color: $bg-sencond !important;
    color: $text-white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .card-header{
        border-bottom: 0;   

    }
    .card-body{
        display: flex;
        flex-direction: row;

        .icon{
            // background-color: #579AFF;
            // border-radius: 10px;
            // padding: 10px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }
        .content{
            margin-left: 20px;
            p{
                margin-bottom: 0;
            }
        }

    }
}


